<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商品查看</title>
    <link rel="stylesheet" href="/wetour/public/static/css/layui.css">
    <script src="/wetour/public/static/layui.js"></script>
    <style>
        img {
            max-width: 80px;
            max-height: 60px;
        }

        .layui-table-cell {
            height: 80px;
            line-height: 80px;
        }

        .layui-btn-xs {
            height: 30px;
            line-height: 30px;
            font-size: 16px;
        }
    </style>
</head>
<body>
<form class="layui-form" id="demo2">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-block">
                <select name="cid">
                    {volist name="cates" id="v"}
                    <option value="{$v.id}" selected="">{$v.cname}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">景点名称</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="gname" placeholder="可输入关键字" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">价格范围</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="price_min" lay-verify="inte" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="price_max" lay-verify="inte" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
        <button class="layui-btn" lay-submit lay-filter="lookup">查找</button>
    </div>
</form>
<table id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="gbannerTpl">
    {{# let arr=d.gbanner.split(',')}}
    {{# arr.forEach(ele=>{}}
    <img src="{{ele}}" alt="">
    {{# })}}
</script>
</body>
</html>
<script>
    const URLFIRST = "/wetour/public/admin/goods/";
    layui.use(['table', 'layer','form'], function () {
        var table = layui.table, $ = layui.jquery, layer = layui.layer,form=layui.form;
        //设置搜索价格只能为正整数
        form.verify({
            inte: function (value, item) {
                if (!new RegExp("^[0-9]{0,10}$").test(value)) {
                    return '价格为正整数且不超过10位';
                }
            },
        });
        //渲染数据，展示表格和数据
        let tableIns=table.render({
            elem: '#demo'
            , url: URLFIRST + 'query'
            , page: true //开启分页
            , limit: 5//每页显示数据条数
            , cols: [[
                {field: 'id', title: 'ID', sort: true, fixed: 'left', width: 60}
                , {field: 'gname', title: '商品名称', width: 88}
                , {
                    field: 'gthumb', title: '缩略图', width: 88, templet: function (d) {
                        return "<img src='" + d.gthumb + "'>";
                    }
                }
                , {field: 'gbanner', title: '轮播图', width: 240, templet: '#gbannerTpl'}
                , {field: 'gmprice', title: '市场价', width: 88, sort: true}
                , {field: 'gsale', title: '零售价', width: 88, sort: true}
                , {field: 'gstock', title: '库存', width: 88, sort: true}
                , {field: 'gdetail', title: '详情', width: 88}
                , {field: 'cname', title: '分类', width: 88}
                , {field: 'gcreate_time', title: '提交时间'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
            ]]
        });
        //搜索
        form.on('submit(lookup)', function (data) {
            let dat=data.field;
            tableIns.reload({
                where: {
                    dat
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });
        //删除
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                    let id = data.id;
                    let load = layer.open({type: 3, icon: 1});
                    $.ajax({
                        url: URLFIRST + 'delete',
                        type: 'POST',
                        data: {'id': id},
                        dataType: 'json',
                        success: function (res) {
                            layer.close(load);
                            if (res.code === 200) {
                                layer.open({
                                    title: '提示'
                                    , content: res.msg
                                });
                            } else {
                                layer.open({
                                    title: '提示'
                                    , content: res.msg
                                });
                            }
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                let id = data.id;
                let load = layer.open({type: 3, icon: 1});
                $.ajax({
                    url: URLFIRST + 'vupdate',
                    type: 'POST',
                    data: {'id': id},
                    dataType: 'json',
                    success: function (res) {
                        if (res.code==200){
                            layer.close(load);
                            location.href=URLFIRST+"update?id="+id;
                        } else{
                            layer.close(load);
                            layer.open({
                                title: '提示'
                                , content: '请重试'
                            });
                        }

                    }
                })
            }
        });

    });
</script>