{include file='public/header' /}
<link rel="stylesheet" href="__CSS_PATH__news.css">
<style>
    .news-every:hover {
        color: red;
    }
    a:hover {
        text-decoration: none;
    }

    .news-every:hover a {
        color: red;
    }
</style>

<div class="container">
    <div class="row">
        <!-- banner开始 -->
        <div class="banner-img">
            <img src="__IMG_PATH__news/bj2.jpg" alt="" style="max-height: 264px">
        </div>
        <!-- banner结束 -->
        <!-- 分割线开始 -->
        <div class="aboutus">
            <div class='line'></div>
            <div class="guanyu">
                <div class="zhongwen">出行贴士</div>
                <div class="yingwen">Tip</div>
            </div>
            <div class="line"></div>
        </div>
        <!-- 分割线结束 -->
        <!-- 新闻开始 -->
        {volist name='datas' id='vo'}
        <div class="newsall">
            <div class="news-every">
                <a class="detail" name="{$vo.id}">{$vo.ntittle}</a>
                <span>{$vo.ndate}</span>
            </div>
            <!-- 隐藏页开始 -->
            <div class="hidden-news">
                <h2 class="titt">{$vo.ntittle}</h2>
                <div class="fabusj">发布日期：{$vo.ndate}</div>
                <p>{$vo.ncontent}</p>
                <p style="float: left;" class="bleft">上一篇:<span></span></p>
                <p style="float: right;" class="bright">下一篇: <span></span> </p>
                <div class="back">返回列表</div>
            </div>
            <!-- 隐藏页结束 -->
        </div>
        <!-- 新闻结束 -->
        {/volist}
        <!-- 底部图片开始 -->
        <div class="container bottom">
            <div class="banner-img">
                <img src="__IMG_PATH__news/dibu-imgjpg.jpg">
            </div>
        </div>
        <!-- 底部图片结束 -->
    </div>
</div>
{include file='public/footer'/}
<script>
    layui.use('form',function () {
    let {form,$}=layui;
    let news = document.querySelectorAll('.newsall');
    let tittle = document.querySelectorAll('.news-every');
    let back = document.querySelectorAll('.back');
    let hidden = document.querySelectorAll('.hidden-news');
    let bleft=document.querySelectorAll('.bleft');
    let bright=document.querySelectorAll('.bright');
    let count = news.length;
    let h=document.querySelectorAll('.titt');
    for (let i = 0; i < count; i++) {
        tittle[i].onclick = function () {
            for (let j = 0; j < count; j++) {
                news[j].style.display = "none";
            }

            news[i].style.display = "block";
            tittle[i].style.display = "none";
            hidden[i].style.display = "block";
        };
        if(i>0){
            bleft[i].onclick=function(){
                for (let j = 0; j < count; j++) {
                    news[j].style.display = "none";
                }
                news[i-1].style.display = "block";
                tittle[i-1].style.display = "none";
                hidden[i-1].style.display = "block";

            };
        }
        if(i>=0&&i<count-1){
            bright[i].children[0].innerHTML=h[i+1].innerHTML;
        }
        if(i>0&&i<count){
            bleft[i].children[0].innerHTML=h[i-1].innerHTML;
        }
        if(i===count-1){
            bright[i].children[0].innerHTML="没有了";
        }
        if(i<count-1){
            bright[i].onclick=function(){
                for (let j = 0; j < count; j++) {
                    news[j].style.display = "none";
                }
                news[i+1].style.display = "block";
                tittle[i+1].style.display = "none";
                hidden[i+1].style.display = "block";
            };
        }
        if(i===0){
            bleft[i].children[0].innerHTML="没有了";
        }
        back[i].onclick = function () {
            for (let j = 0; j < count; j++) {
                hidden[j].style.display = "none";
                news[j].style.display = "block";
                tittle[j].style.display = "flex";
            }
        }
    }
    })
</script>
