<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查看导航</title>
    <link rel="stylesheet" href="/wetour/public/static/css/layui.css">
    <script src="/wetour/public/static/layui.js"></script>
</head>
<body>
<table id="demo" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>
<script>
    const URLFIRST="/wetour/public/admin/onlinebooking/";
    layui.use(['table', 'layer'], function(){
        var table = layui.table,$=layui.jquery,layer = layui.layer;
        //渲染数据，展示表格和数据
        table.render({
            elem: '#demo'
            ,url: URLFIRST+'query'
            ,page: true //开启分页
            ,type:'json'
            ,cols: [[
                {field: 'id', title: 'ID',  sort: true, fixed: 'left'}
                ,{field: 'oid', title: '预约服务',edit: 'text' }
                ,{field: 'odate', title: '预约日期',edit: 'text' }
                ,{field: 'uname', title: '用户姓名',edit: 'text'}
                ,{field: 'usex', title: '用户性别',edit: 'text' }
                ,{field: 'uphone', title: '用户电话',edit: 'text'}
                ,{field: 'usupplement', title: '补充说明',edit: 'text' }
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
            ]]
        });
        //修改
        table.on('edit(test)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            let id=data.id;
            let load=layer.open({type:3,icon:1});
            $.ajax({
                url: '/wetour/public/admin/onlinebooking/update',
                type: 'POST',
                data: {'id':id,'field':field,'value':value},
                dataType: 'json',
                success: function (res) {
                    layer.close(load);
                    if (res.code === 200) {
                        layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
                    } else {
                        layer.open({
                            title: '提示'
                            ,content: res.msg
                        });
                    }
                }
            });
        });
        //删除
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    let id=data.id;
                    let load=layer.open({type:3,icon:1});
                    $.ajax({
                        url: '/wetour/public/admin/onlinebooking/delete',
                        type: 'POST',
                        data: {'id':id},
                        dataType: 'json',
                        success: function (res) {
                            layer.close(load);
                            if (res.code === 200) {
                                layer.open({
                                    title: '提示'
                                    ,content: res.msg
                                });
                            } else {
                                layer.open({
                                    title: '提示'
                                    ,content: res.msg
                                });
                            }
                        }
                    });
                });
            }
        });

    });
</script>

