<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加介绍</title>
    <link rel="stylesheet" href="/wetour/public/static/css/layui.css">
    <script src="/wetour/public/static/layui.js"></script>
    <style>
        img{
            max-height: 80px;
        }
    </style>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">公司图</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">上传缩略图</button>
                <span style="color: #777777;">上传图片最佳大小100*100，最佳比例1:1,不超过200K</span>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：<div class="layui-upload-list" id="img-gthumb"></div>
                </blockquote>
            </div>
            <input type="hidden" name="cimg">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司介绍</label>
        <div class="layui-input-block">
            <textarea id="demo4"  style="display: none;resize: none;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>
<script>
    const URLADDRESS="/wetour/public/index.php/";
    layui.use(['form', 'layer','upload','layedit'], function () {
        let {layedit}=layui;
        let form = layui.form, $ = layui.jquery, layer = layui.layer,upload=layui.upload;
        let index = layedit.build('demo4');
        form.verify({
            chinese: function (value, item) {
                if (!new RegExp("^[\u4e00-\u9fa5][\u4e00-\u9fa5\\s·]{1,30}$").test(value)) {
                    return '导航名只能为中文且开头不能有空格';
                }
            },
        });
        upload.render({
            elem:'#test1',
            url:URLADDRESS+'admin/upload/index',
            accept:'images',
            acceptMime:'image/*',
            done:function (res) {
                if(res.code===0){
                    $('<img>').attr('src',res.data.src).appendTo($('#img-gthumb'));
                    $('input[name=cimg]').val(res.data.src);
                }else{
                    return layer.msg('上传失败');
                }
            }
        });

        //提交
        form.on('submit(*)', function (data) {
            let dat = data.field;
            dat.cintroduce=layedit.getContent(index);
            let formreset=data.form;
            delete dat.file;
            $.ajax({
                url: URLADDRESS+'admin/company/insert',
                type: 'POST',
                data: dat,
                dataType: 'json',
                context:this,
                success: function (res) {
                    if (res.code === 200) {
                        layer.open({
                            title: '提示'
                            ,content: res.msg
                        });
                        formreset.reset();
                        $('img').remove();
                        $('input[type=hidden]').val("");
                    } else {
                        layer.open({
                            title: '提示'
                            ,content: res.msg
                        });
                    }
                }
            });
            return false;
        });
    });

</script>